<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@700&display=swap" rel="stylesheet">
{% include head/custom-styles.html %}

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>

<script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
<script>
  // This tells the browser to wait until the entire HTML document is fully loaded and ready
  document.addEventListener('DOMContentLoaded', function() {
    
    // First, we find the link tag that controls the main favicon
    const faviconTag = document.querySelector("link[rel~='icon']");

    // We only proceed if we successfully found the tag
    if (faviconTag) {
      const originalFavicon = faviconTag.href; // Save the original icon path (e.g., /favicon.ico)
      const altFavicon = '/favicon-alt.ico';  // The path to your alternate icon

      // Now, we set up the listener for when the tab visibility changes
      document.addEventListener('visibilitychange', function() {
        // If the tab is hidden, change the icon to the alternate version
        // If it's visible again, change it back to the original
        faviconTag.href = document.hidden ? altFavicon : originalFavicon;
      });
    }
  });
</script>
{% include head/color-overrides.html %}

{% include head/layout-overrides.html %}

{% include head/title-fix.html %}
